@media (max-width: 1439px) {
/*
	.container {
		width: 100%;
	}

	.center-col {
		width: 100%;
	}

	.navbar-header {
		float: none;
	}

	.navbar .navbar-brand {
		width: 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}
*/
}


@media (max-width: $container-large-desktop) {


	.hide-md {

		display: block;

	}

	.center-col {

		padding-left: 0;
		padding-right: 0;

	}

	header.navbar {
    /*
		padding-top: 20px;

		.navbar nav li a {

			padding: 10px 40px;
			color: red;

			&:before {

				left: 15px;
				top: 10px;

			}

		}

		.col-xs-6 {

			.col-lg-9 {

				margin-top: 120px;

			}

			.col-lg-3 {

				position: absolute;
				top: 0;
				right: 0;

			}

			.navbar-header {

				a {

				}

			}

			button {

				width: 55%;
				float: left;

				&.navbar-toggle {

					width: auto;
					float: right;

				}

			}

			.tel {

				float: left;
				text-align: left;

			}

		}
    */
	}

	.home {


		#cycle {

		  height: 500px;
			overflow: hidden;

			.cycle-pager {

				// bottom: 45px;

			}

			.item {

				overflow: hidden;
				position: relative;

				.cycle-caption {

					h3 {

						font-size: 2.5em;
						margin-top: 0;

					}

					.btn.btn-primary {

						font-size: 1.333em;
						padding: 10px 28px;

					}

				}

			}

		}

		.wrap.container section.row article {

			&.has-post-thumbnail .entry-content {

				.entry-title {

					width: 100%;

				}

			}

			img.wp-post-image {

				margin-top: 0;

			}

		}

		aside {

			padding: 50px 0;

			h2, h3, div, li {

				display: none;

			}

			a.btn.hide-md {

				width: 75%;
				margin: 10px auto;
				padding: 12px 30px 20px 30px;
				font-size: 1.666em;
				line-height: 1.8em;
				font-weight: 300;
				text-align: left;
				margin-top: 30px;

				i {

					margin-right: 15px;
					font-size: 1.8em;
					position: relative;
					bottom: -6px;
					width: 80px;

				}

			}

		}

	}

}

@media (max-width: $container-tablet) {

	.home {

		#cycle {

		  height: 500px;
			overflow: hidden;

			.cycle-pager {

				// bottom: 0px;

			}

			.item {

				overflow: hidden;
				position: relative;

				.cycle-caption {

					h3 {

						font-size: 2em;
						margin-top: 0;

					}

					.btn.btn-primary {

						font-size: 1em;
						padding: 10px 28px;

					}

				}

			}

		}

	}

}