/*

	GLOBAL

*/

$fuschia: 	#d305bd;
$light-red: #ed1f5e;
$orange:	#fbaf5d;
$purple:	#a186be;
$peachish:	#ef6b5e;
$slate:		#5f6f81;

/* latin-ext */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PlKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2rxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLm1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {

	font-weight: 300;
	font-size: 17px;

}

a, button {

	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;

}


/*

	HEADER

*/

body{
  padding-top:32px;
}
body.logged-in header{
  top:32px;
}


.navbar {

}



/*

  CONTENT
  
*/
.gray-page-header{
  background:#f0f0f0;
  padding-bottom:40px;
}

.wrap.container.page_padding{
  padding-top:116px;
}

.main-content-well{
  main,
  aside{
    padding-top:40px;
    padding-bottom:90px;
  }
  main + aside{
    padding-left:40px;
  }
  
}
.home .main-content-well{
  main{
    padding:0!important;
  }
}

.panel-group.dna-panel{
  .panel + .panel {
    margin-top: 9px!important;
  }
  .panel-heading.highlighted{
    border-left: $brand-primary 4px solid;
    border-right: $brand-primary 4px solid;
  }
  .panel-heading h4{
    font-size:20px;
    a{
      text-decoration:none!important;
      display:block;
      padding: 11px;
      margin: -11px;  
      line-height: 22px;
      text-indent: -25px;
      padding-left: 31px;
      
      &:before{
        font-family:"FontAwesome";
        content:"\f146";
        margin-right:4px;
        font-size:20px;
        color:$brand-primary;
        line-height: 17px;
        vertical-align: middle;
        
        
      }
      &.collapsed:before{
        content:"\f0fe";
      }
    }
  }
  .panel-heading:hover{background:#eee;}
}


/*

	PREFOOTER

*/

.prefooter{
  background:$brand-primary;
  color:white;
  padding:53px 0;
  
  h3{
    font-weight: 300;
    font-size: 30px;
    margin: 0px 0;
  }
}

.btn.inverse-cta-btn{
  color:$brand-primary;
  background: white;
  font-size: 21px;
  margin-top: 4%;
  width: 80%;
  text-align:left;
  text-transform:uppercase;
  
  i{
    margin-top:4px;
  }
  
}

/*

	FOOTER

*/
footer .clinic-address{
  font-size:15px;
  p{margin-bottom:4px!important;}
}
.footer-btn{
  display: block;
  text-align: left;
  font-size: 16px;
  
  i{margin-top:3px;}
}

footer.content-info {

	background: #e4e9ea;
	padding: 60px 0;
  font-size: 15px;

	.container {

		//@extend .col-md-10;
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
		background: transparent;

		.row {

			padding: 0 15px;

			.col-md-3, .col-md-4 {

				p {

					color: $slate;
					font-family: "OpenSans", "Open Sans", $font-family-sans-serif;
					margin-bottom: 20px;

				}

				ul {

					list-style: none;
					padding: 0;

				}

				h6 {

					color: #151515;
					font-size: 1.2em;

				}

				.btn, button {

					margin-bottom: 20px;
					margin-right: 20%;

				}

				#menu-footer-navigation {

					list-style: none;
					padding: 0;

					li {

					list-style: none;
					padding: 16px 0 0 0;

						a {

							color: #151515;
							font-size: 1.2em;
							font-weight: normal;

						}

						.sub-menu li {

							a {

								color: $brand-primary;
								font-size: 1.1em;

							}

						}

					}

				}

				&.additional-info {

					font-size: 1.1em;

					div a {

						color: #bdc3c7;

						.fa-inverse {

							color: #fff;

							&:hover {

								color: #fff;

							}

						}

						&:hover {

							text-decoration: none;
							color: lighten(#bdc3c7,5%);

						}

					}

				}

				&.locations {

					font-size: 1.1em;

					li {

						padding-top: 16px;
						color: $slate;
						font-family: "OpenSans", "Open Sans", $font-family-sans-serif;

					}

				}

			}

		}

	}

}

/*

	UTIL

*/

.col-md-padding-1 {

	padding-left: 8.33333%;

}

.center-col {

	//@extend .col-md-10;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;

}

.short-underline {

	position: relative;

	&:after {

		content: "";
		position: absolute;
		bottom: -10px;
		left: 0;
		display: block;
		height: 4px;
		width: 28px;
		background: #d1d7d9;

	}

}
.single h2.entry-title.short-underline:after {
	left: 37px;
}

.gray:after {

	background: #d1d7d9 !important;

}

.blue:after {

	background: $brand-primary !important;

}

.fuschia:after {

	background: $fuschia !important;

}

.purple:after {

	background: $purple !important;

}

.light-red:after {

	background: $light-red !important;

}

.light-red.fa {

	color: $light-red !important;

}

.orange:after {

	background: $orange !important;

}

.peach:after {

	background: $peachish !important;

}

.gray-button {

	color: #fff;
	background: #bfc3c6;
	text-transform: uppercase;
	border: 0;

	&:hover {

		background: darken(#bfc3c6,15%);

	}


}

.entry-meta, .entry-meta time {

	font-size: .9em;
	font-variant: small-caps;

}

.hide-md {

	display: none;

}

.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper select{
  font-size:16px;
  padding:8px 2px 8px 2px;
}

.gform_wrapper select{
  padding:8px 2px 8px 2px!important;;
}

.gfield_label{
  margin-top:17px;
}

@media (min-width: 1200px) {

  .container {

    /*width: 100%;*/

  }

}